# Веб-фреймворк
Flask==3.1.3

# Шаблонизатор (часть Flask, но фиксация версии не повредит)
Jinja2~=3.1.6

# Работа с БД
SQLAlchemy~=2.0.48

# Планировщик задач
APScheduler~=3.11.2

# Аутентификация (оставляем только PyJWT, jwt удалён)
PyJWT~=2.12.1

# Интернационализация и локализация
Babel==2.18.0

# Конвертация Markdown в HTML
Markdown==3.10.2

# Безопасное преобразование HTML (связано с Markdown, чтобы экранировать теги)
bleach~=6.3.0

# Определение типа файлов
filetype~=1.2.0

# Работа с YAML файлами (часто для конфигов)
PyYAML~=6.0.3

gunicorn
flask-seasurf
werkzeug
flask_mail

# Драйвер для MariaDB/MySQL (используется при DATABASE_URL=mysql+pymysql://...)
PyMySQL~=1.1.0