<!DOCTYPE html>
<html lang="ru">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{% block title %}{{ conference.title }}{% endblock %}</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/тест.css') }}">
   {% block info_head %}{% endblock %}
</head>
<body>
   {% include "includes/header.html" %}
   {% include "includes/nav.html" %}

   <main class="container">
      {% block content %}{% endblock %}
   </main>

   {# {% include "includes/footer.html" %} #}
   <script src="{{ url_for('static', filename='js/editor.js') }}"></script>
   {% block extra_js %}{% endblock %}
</body>
</html>
