{% extends "base.html" %}

{% block title %}Подача тезисов{% endblock %}

{% block content %}
<h2>Подача доклада</h2>

<form method="post" enctype="multipart/form-data" class="form-thes">

   <label>
      ФИО 
      <input type="text" name="author" required>
   </label>

   <label>
      Email
      <input type="email" name="email" required>
   </label>

   <label>
      Название доклада
      <input type="text" name="title" required>
   </label>

   <label>
      Аннотация
      <textarea name="text" rows="15" required></textarea>
   </label>

   <label>
      Файл тезисов (PDF)
      <input type="file" name="file" accept=".pdf">
   </label>

   <button type="submit" class="btn">Отправить</button>
</form>
{% endblock %}
